* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}


body {
    min-height: 100vh;
    background-color: #fffde7d1;
    /* background-color: rgba(15, 214, 15, 0.259); */
}

#firstNavbar {
    /* background-color: rgba(15, 214, 15, 0.215); */
    background-color: white;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);
}

#firstNavbar ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#firstNavbar li {
    height: 75px;
}


#firstNavbar li:first-child {
    margin-right: auto;
}

#firstNavbar li:last-child {
    margin-left: auto;
}

#firstNavbar a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: green;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    border-radius: 5px;
}

.side li:first-child a {
    font-family: "Permanent Marker", cursive;
    font-weight: 900;
    font-size: 26px;
    color: green;
}


#firstNavbar a:hover{
    background-color: #F2F7F4;
    transition: 0.3s;
}

#firstNavbar .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-button {
    display: none;
}

.sidebar li, .sidebar a {
    width: 100%;
}

.side li.isActive a{
    color: #4a00ba !important;
}

.sidebar li.isActive a{
    color: #4a00ba !important;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    text-decoration: none;
    padding-top: 15px;
}


.contact-footer {
    display: block;
    justify-content: center;
}

.contact-footer li {
    text-align: justify;
}

.contact-footer li:first-child {   
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    margin: 5px;    
}

.logo-footer {
    display: block;
    justify-content: center;
}

.logo-footer li a {
    font-family: "Permanent Marker", cursive;
    text-decoration: none;
    color: green;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
}

.logo-footer li img {
    width: 100px;
    margin: 0 auto;
}

#firstPic img {
    display: flex;
    height: auto;
    width: 100%;
    object-fit: cover;
}

#introContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#introContainer h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    text-align: center;
    padding: 10px;
}

#intro {
    width: 40%;
}

#intro p {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: italic;
    padding: 10px;
}

.card {
    width: 500px;
    margin: 0 auto;
    border: none;
    background-color: #fffde7d1;
    padding: 5px;
    transition: transform 0.5s ease;
    
}

.habitatsPics {
    height: 350px;
    width: 500px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.card-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    padding-top: 5px;
    text-align: justify;
}

.card-text {
    letter-spacing: 1px;
    font-style: italic;
    text-align: justify;
    font-size: 14px;
}

.card:hover {
    cursor: pointer;
    transform: scaleX(1.11);    
}




@media (max-width: 908px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 850px) {
    #intro {
        width: 80%;
    }
}